.toast {
    position: relative;
    width: 320px;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.icon {
    line-height: 1;
}

.icon.success {
    color: var(--success);
}

.icon.info {
    color: var(--info);
}

.icon.warning {
    color: var(--warning);
}

.icon.error {
    color: var(--error);
}

.message {
    margin: 0 0 0 15px;
    font-size: 14px;
    font-weight: 500;
    color: #151626;
}

.dismissBtn {
    margin-left: auto;
    line-height: 1;
    color: #aeb0d7;
    background: none;
    border: none;
    cursor: pointer;
}

.progressBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    transform-origin: left center;
    background-color: black;

    animation: progress-bar 4s linear 0s forwards;
}

.progressBar.success {
    background-color: var(--success);
}

.progressBar.info {
    background-color: var(--info);
}

.progressBar.warning {
    background-color: var(--warning);
}

.progressBar.error {
    background-color: var(--error);
}

@keyframes progress-bar {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0);
    }
}
