.toast {
    position: relative;
    width: 320px;
    padding: 16px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.icon {
    line-height: 1;
}

.message {
    margin: 0 0 0 15px;
    font-size: 14px;
    font-weight: 500;
    color: #151626;
}

.dismissBtn {
    margin-left: auto;
    line-height: 1;
    color: #aeb0d7;
    background: none;
    border: none;
    cursor: pointer;
}

.progressBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: black;
}

.success {
    color: var(--success);
}

.info {
    color: var(--info);
}

.warning {
    color: var(--warning);
}

.error {
    color: var(--error);
}