:root {
    --success: #22c55e;
    --info: #3b82f6;
    --warning: #f97316;
    --error: #ef4444;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f3fb;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 20px;
    width: 340px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.btn-container button {
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    transition: background-color .2s linear 0s;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.success-btn {
    background-color: var(--success);
}

.success-btn:hover {
    --success: #16a34a;
}

.info-btn {
    background-color: var(--info);
}

.info-btn:hover {
    --info: #2570eb;
}

.warning-btn {
    background-color: var(--warning);
}

.warning-btn:hover {
    --warning: #ea670c;
}

.error-btn {
    background-color: var(--error);
}

.error-btn:hover {
    --error: #dc2626;
}