:root {
    --success: #22c55e;
    --info: #3b82f6;
    --warning: #f97316;
    --error: #ef4444;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f3fb;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    padding: 20px;
    width: 340px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

